In [2]:
import os
os.getcwd()

'C:\\Users\\amito\\PycharmProjects\\Faiss_Recommendar\\Preprocessing'

In [12]:
import pandas as pd

data=pd.read_csv("C:/Users/amito/PycharmProjects/Faiss_Recommendar/Raw_Data/movies_cleaned.csv")
data_df=pd.DataFrame(data)

pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)  # Prevent line wrapping

In [13]:
data_df.head()

,Unnamed: 0,id,title,genres,overview,poster_path,original_language,popularity,keywords
0,0,27205,Inception,"['Action', 'Science Fiction', 'Adventure']","Cobb, a skilled thief who commits corporate es...",/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,en,83.952,"['rescue', 'mission', 'dream', 'airplane', 'pa..."
1,1,157336,Interstellar,"['Adventure', 'Drama', 'Science Fiction']",The adventures of a group of explorers who mak...,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,en,140.241,"['rescue', 'future', 'spacecraft', 'race again..."
2,2,155,The Dark Knight,"['Drama', 'Action', 'Crime', 'Thriller']",Batman raises the stakes in his war on crime. ...,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,en,130.643,"['joker', 'sadism', 'chaos', 'secret identity'..."
3,3,19995,Avatar,"['Action', 'Adventure', 'Fantasy', 'Science Fi...","In the 22nd century, a paraplegic Marine is di...",/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,en,79.932,"['future', 'society', 'culture clash', 'space ..."
4,4,24428,The Avengers,"['Science Fiction', 'Action', 'Adventure']",When an unexpected enemy emerges and threatens...,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,en,98.082,"['new york city', 'superhero', 'shield', 'base..."

In [14]:
data_df.isnull().sum()

Unnamed: 0           0
id                   0
title                0
genres               0
overview             0
poster_path          0
original_language    0
popularity           0
keywords             0
dtype: int64

In [15]:
data_df.shape

(1210768, 9)

In [18]:
data_df["keywords"].head()

0    ['rescue', 'mission', 'dream', 'airplane', 'pa...
1    ['rescue', 'future', 'spacecraft', 'race again...
2    ['joker', 'sadism', 'chaos', 'secret identity'...
3    ['future', 'society', 'culture clash', 'space ...
4    ['new york city', 'superhero', 'shield', 'base...
Name: keywords, dtype: object